*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.accordion {
    background-color: #eee;
    color: #444;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    transition: 0.4s;
    padding:20px 0 0 0; 
}
h4 {
  display: inline-block;
padding: 0 0 20px 40px;
font-weight: 500;
}
.accordion:hover {
    background-color: #ccc;
  }
  
  label{
   cursor: pointer;
   position: relative;
  
  }

  input{
    display: none;
  }

  input:checked ~ .panel{
    display:block; 
  }

  .panel {
    padding: 10px 18px;
    display: none;
    overflow: hidden;
    background-color: white;
  }

  span {
  margin-left: 85%;
  font-size: 25px;
  font-weight: 500;
  }

  .open{
  display: inline-block;
  }

  .close{
    display: none;
  }

  input:checked ~ .open{
    display: none;
   
  }
  input:checked ~ .close{
    display: inline-block; 
  }


  @media screen and (max-width:1000px){
    span{
      margin-left: 80%;
    }
  }
  
  @media screen and (max-width:600px){
    span{
      margin-left: 70%;
    }
  }

 